.movieCard {
  color: var(--color-havana);

  &:hover {
    .title {
      color: var(--color-sofia);
    }
    .movieProperties {
      opacity: 1;
    }
    .poster {
      transform: scale(1.04) translateY(0);
    }
  }
}

.poster {
  transition: 0.4s;

  width: 100%;
  aspect-ratio: 1/1.535; // устанавливаем соотношение сторон 1/1.535
  height: calc(100% / aspect-ratio);
}

.movieProperties {
  width: 100%;
  height: 100%;
  padding: 15%;

  opacity: 0;

  transition: 0.4s;

  background-color: var(--color-transparentBlack);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  position: relative;

  .actionBlock {
    position: absolute;
    right: 15%;
    top: 10%;

    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .movieInfo {
    color: var(--color-tbilisi);

    font-size: var(--font-size-kleodora);
    font-weight: var(--font-weight-kleodora);
    line-height: var(--line-height-kleodora);

    .description {
      margin-top: 4px;
    }

    .info {
      display: inline-block;
      margin-top: 4px;
    }

    .duration {
      display: inline-block;
      margin-top: 4px;
    }
  }
}

.titleBlock {
  margin-top: 8px;
  .title {
    transition: 0.4s;

    overflow: hidden;

    font-weight: var(--font-weight-amphiris);
    font-size: var(--font-size-amphiris);
    line-height: var(--line-height-amphiris);
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .subtitle {
    font-weight: var(--font-weight-marynae);
    font-size: var(--font-size-marynae);
    line-height: var(--line-height-marynae);
  }
}
