@import "@/shared/index.scss";

.bannerSlider {
  width: $width-container * 3 + 32px;
  transform: translate($width-container * -1 - 16px);

  @media (max-width: $width-container) {
    width: calc(100% * 3 + 32px);
    $width: 100%;
    transform: translate(calc(100vw * -1 + 48px));
  }
  position: relative;
}

.button {
  width: 33.2%;

  &_prev {
    left: 0;
    background-image: linear-gradient(
      270deg,
      rgba(31, 27, 46, 0),
      rgba(31, 27, 46, 0.5),
      rgba(31, 27, 46, 0.6),
      rgba(31, 27, 46, 0.72)
    );
  }

  &_next {
    right: 0;
    background-image: linear-gradient(
      90deg,
      rgba(31, 27, 46, 0),
      rgba(31, 27, 46, 0.5),
      rgba(31, 27, 46, 0.6),
      rgba(31, 27, 46, 0.72)
    );
  }
}
