@import "@/shared/index.scss";

.carusel {
  width: $width-container * 3 + 32px;
  transform: translate($width-container * -1 - 16px);

  @media (max-width: $width-container) {
    width: calc(100% * 3 + 32px);
    $width: 100%;
    transform: translate(calc(100vw * -1 + 48px));
  }
}

.button {
  width: $width-container + 10px;

  background-image: linear-gradient(
    90deg,
    rgba(31, 27, 46, 0),
    rgba(31, 27, 46, 0.72)
  );

  &_prev {
    background-color: linear-gradient(
      90deg,
      rgba(31, 27, 46, 0),
      rgba(31, 27, 46, 0.72)
    );
    left: calc($width-container * -1 - 16px);

    &::before {
      position: absolute;
    }
  }

  &_next {
    background-image: linear-gradient(
      270deg,
      rgba(31, 27, 46, 0),
      rgba(31, 27, 46, 0.72)
    );

    right: calc($width-container * -1 - 16px);
  }
}
