.carusel {
  position: relative;
}

.slide {
  width: 100%;
}

.navButton {
  position: absolute;
  top: 0;
  height: 100%;
  width: 40px;

  font-family: IconFont;
  color: var(--color-sofia);
  opacity: var(--opacity-hemza);

  font-size: 31px;

  transition: 0.4s;

  cursor: pointer;
  z-index: 3;

  &_prev {
    left: -40px;

    &::before {
      content: "\E040";
    }
  }

  &_next {
    right: -40px;

    &::before {
      content: "\E047";
    }
  }

  &:hover {
    opacity: var(--opacity-imi);
  }
  &:active {
    transform: scale(0.8);
  }
}

.disabled {
  visibility: hidden;
}
