.wrapper {
  width: 100%;
  padding: 24px 0;
}

.title {
  margin-bottom: 8px;

  font-size: var(--font-size-crephusa);
  line-height: var(--line-height-crephusa);
  font-weight: var(--font-weight-crephusa);

  color: var(--color-sofia);
}

.carusel {
  padding: 8px 0;
}

.button {
  &::before {
    top: 40%;
  }
}
