// *********************************    WIDTH    ********************************* //
$width-container: 1216px;

// *********************************    COLOR    ********************************* //
$color-osaka: #000000;
$color-zeila: #222222;
$color-erbil: #333333;
$color-kabul: #110e20;
$color-london: #25213f;
$color-tanga: #3a355a;
$color-jaffa: #5f5887;
$color-fes: #938db7;
$color-dili: #c8c3e8;
$color-nara: #e7e3ff;
$color-santiago: #f6f5ff;
$color-sofia: #ffffff;
$color-ibiza: #07050e;
$color-varna: #1f1b2e;
$color-berbera: #312b45;
$color-dublin: #7e798f;
$color-axum: #a5a1b2;
$color-mexico: #a5a1b2;
$color-tbilisi: #d9d7e0;
$color-havana: #d9d7e0;
$color-alexandria: #00a5ff;
$color-victoria: #0171ff;
$color-kediri: #360311;
$color-pattani: #9e0b32;
$color-madrid: #ea003d;
$color-kano: #ff6e94;
$color-argos: #ffb3c7;
$color-baku: #ffdbe5;
$color-palermo: #fff2f6;
$color-darwin: #300900;
$color-adelaide: #b33012;
$color-hanoi: #ff542e;
$color-muar: #ff8469;
$color-sydney: #ffbaab;
$color-hobart: #ffded6;
$color-moroni: #fff3f0;
$color-worms: #0d1404;
$color-homs: #2e4014;
$color-kutaisi: #4a6623;
$color-beirut: #73a32f;
$color-flores: #a9d171;
$color-rey: #d7ebbc;
$color-nitra: #f2f7eb;
$color-metz: #100e19;
$color-york: #a869f0;
$color-rome: #e6ae2e;
$color-vkontakte: #0077ff;
$color-twitter: #1da1f2;
$color-googleplus: #db4437;
$color-odnoklassniki: #ee8208;
$color-yandex_yellow: #ffcc00;
$color-yandex_red: #ff0000;
$color-mailru_blue: #115ff9;
$color-mailru_gold: #ffa520;
$color-telegram: #0088cc;
$color-whatsapp: #25d366;
$color-viber: #7360f2;
$color-kinopoisk: #ff6600;
$color-imdb: #f5c518;
$color-citibank: #003b70;
$color-gazprombank: #02356c;
$color-vtb24: #0a2972;
$color-uralsib: #1e398d;
$color-psbbank: #2647a3;
$color-open: #00bbe4;
$color-unicredit: #e30613;
$color-tinkoff: #231f20;
$color-sberbank: #1a9f29;
$color-mkb: #b3002d;
$color-rosbank: #e7002a;
$color-alfabank: #f03226;
$color-raifeisen: #fff104;
$color-paypal: #0070ba;
$color-planeta: #3498db;
$color-samsung: #1428a0;

$color-transparentBlack: rgba(7, 5, 14, 0.8);
$color-ratingLine-Background: hsla(254, 9%, 52%, 0.32);

// *********************************    OPACITY    ********************************* //
$opacity-odo: 0;
$opacity-jabe: 0.08;
$opacity-bana: 0.16;
$opacity-kurza: 0.24;
$opacity-akbu: 0.32;
$opacity-pake: 0.4;
$opacity-tesa: 0.48;
$opacity-zeton: 0.56;
$opacity-anie: 0.64;
$opacity-hemza: 0.72;
$opacity-sedra: 0.8;
$opacity-dere: 0.88;
$opacity-kima: 0.96;
$opacity-imi: 1;
