@import "./reset.scss";
@import "./vars.scss";
@import "./templates.scss";

html {
  font-family: var(--font-main);
}

main {
  @extend %template-container;
}

* {
  box-sizing: border-box;
}

:root {
  --color-madrid: $color-madrid;
}

@font-face {
  font-family: Ico;
  src: url(./../../shared/assets/fonts/iconfont.woff);
}
