@import "@/shared/index.scss";

.mainPage {
  // background-color: $color-metz;
  background-color: gray;

  min-height: 100vh;
  overflow: hidden;
}
.container {
  @extend %template-container;
}

.teaserBlock {
  width: 100%;
  display: flex;
  gap: 24px;

  .link {
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: $color-sofia;
    @include set-font(15px, 20px, 500);

    border-radius: 8px;

    &_subscription {
    }
    background-color: $color-varna;

    &_certificate {
    }
  }
}
