@import "@/shared/index.scss";

.mainPage {
  //   background-color: var(--color-metz);
  background-color: gray;

  //   color: var(--color-sofia);

  min-height: 100vh;
  overflow: hidden;
}
.container {
  @extend %template-container;
}

.banner {
}

.teaserBlock {
  width: 100%;
  display: flex;
  gap: 24px;

  .link {
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-sofia);
    font-size: var(--font-size-amphiris);
    line-height: var(--line-height-amphiris);
    font-weight: var(--font-weight-amphiris);

    border-radius: 8px;

    &_subscription {
    }
    background-color: var(--color-varna);

    &_certificate {
    }
  }
}
