.wrapper {
}

.lineWrapper {
  width: 80%;
  height: 4px;

  border-radius: 2px;

  background-color: var(--color-ratingLine-Background);
}

.ratingLine {
  height: 100%;
  width: 25%;
  border-radius: 2px;

  background-color: var(--color-madrid);
}
