@font-face {
  font-family: IconFont;
  src: url(./iconfont.woff);
}

@font-face {
  font-family: iviSansRegular;
  src: url(./iviSans-Regular.woff2);
  // font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: iviSansMedium;
  src: url(./iviSans-Medium.woff2);
  // font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: iviSansBold;
  src: url(./iviSans-Bold.woff2);
  // font-weight: 700;
  font-style: normal;
}
