@import "@/shared/index.scss";

.wrapper {
  width: 100%;
  padding: 24px 0;
}

.title {
  margin-bottom: 8px;
  @include set-font(24px, 28px, 700);
  color: $color-sofia;

  display: flex;
  align-items: center;
  gap: 8px;
}

.carusel {
  padding: 16px 0;
}
